
@media (max-width: 740px) {
    .slider .text-content,
    .header .btn-search {
        display: none;
    } 

    .nav  > li,
    .header .btn-menu {
        display: block;
    }

    .overflow-hidden-mobile {
        overflow: hidden;
    }

    .intro .list-members {
        flex-direction: column;
    }

    .spaces-list {
        flex-direction: column;
    }

    .contact-body {
        flex-direction: column;
    }
    
    .space-item,
    .contact-body .input-name-email input,
    .space-item .btn-buy,
    .contact-body .btn-send {
        width: 100%;
    }
}